<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- This method runs everytime when the change detection works so you can see in console that
  many unneccessay calls are there although there is no data change so we need to use "pure" pipe  -->

 <!-- <div *ngFor="let item of userService.users">
   {{item.name}} - {{getTheory(item.id)?.title}}
 </div> -->

 <!-- PERFORMANCE OPTİMİZATİON PART -->

 <div *ngFor="let item of userService.users">
   {{item.name}} - {{ item.id | getUserTheory:'title' }}
 </div>
</ion-content>
